<table class="summary-table">
    <tr>
        <td>Job Type</td>
        <td><%=job.jobType%></td>
    </tr>
    <tr>
        <td>Job Industry</td>
        <td><%=job.industry%></td>
    </tr>
    <tr>
        <td>Expected Salary</td>
        <td>$<%=job.salary%></td>
    </tr>
    <tr>
        <td>Education</td>
        <td><%=job.minEducation%></td>
    </tr>
    <tr>
        <td>Experience</td>
        <td><%=job.experience%></td>
    </tr>
    <tr>
        <td>Company</td>
        <td><%=job.companyName%></td>
    </tr>
</table>